.i_am {
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.splide {
    width: 100%;
}

.splide .splide__track ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--mainKor-font);
}

.splide__list{
    display: flex;
    gap: 30px;
}

.splide.ltl li img {
    width: 5vw;
    height: 5vw;
}

.splide .splide__track-1 ul li {
    color: var(--subBg300);
}

.splide .splide__track-2 {
    rotate: 2deg;
}

.splide.rtl ul li img {
    height: 20vw;
}

.splide .splide__track-3 {
    background: var(--subBg300);
    rotate: -2deg;
    color: #fff;
}